body {
  text-align: center;
  margin: auto;
  background-color: rgb(244, 234, 255);
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
}
header {
  padding: 32px;
  text-align: center;
}

header img {
  width: 200px;
}
